In [1]:
import numpy as np
import pandas as pd

In [35]:
destinations_df = pd.read_csv("C:/Users/ANANYA/OneDrive/Desktop/Minor_Project/archive (1)/Expanded_Destinations.csv",usecols=['DestinationID','Name'],dtype = {'DestinationID':'int32','Name':'str'})
visitor_df = pd.read_csv("C:/Users/ANANYA/OneDrive/Desktop/Minor_Project/archive (1)/Final_Updated_Expanded_Reviews.csv",usecols=['DestinationID','UserID','Rating'],dtype={'DestinationID':'int32','UserID':'int32','Rating':'int32'})

In [11]:
destinations_df.head()

     Location Country  Rating
0  kuBZRkVsAR   India    1.32
1  aHKUXhjzTo     USA    2.01
2  dlrdYtJFTA  Brazil    1.42
3  DxmlzdGkHK  Brazil    1.09
4  WJCCQlepnz  France    1.43

In [37]:
visitor_df.head()

   DestinationID  UserID  Rating
0            178     327       2
1            411     783       1
2            927      12       2
3            358     959       3
4            989     353       2

In [45]:
df = pd.merge(visitor_df,destinations_df,on='DestinationID')
df.head()

   DestinationID  UserID  Rating               Name
0            178     327       2        Jaipur City
1            411     783       1          Taj Mahal
2            927      12       2        Goa Beaches
3            358     959       3        Jaipur City
4            989     353       2  Kerala Backwaters

In [51]:
filter_destination = df.dropna(axis=0,subset=['Name'])

In [55]:
visitor_ratingCount = (filter_destination.groupby(by=['Name'])['Rating'].count().
                     reset_index().
                     rename(columns = {'Rating':'totalRatingCount'})
                     [['Name','totalRatingCount']]
                    )
visitor_ratingCount .head()

                Name  totalRatingCount
0        Goa Beaches               190
1        Jaipur City               191
2  Kerala Backwaters               201
3         Leh Ladakh               218
4          Taj Mahal               199

In [57]:
rating_with_totalRatingCount = filter_destination.merge(visitor_ratingCount,left_on='Name',right_on='Name',how = 'left')
rating_with_totalRatingCount.head()

   DestinationID  UserID  Rating               Name  totalRatingCount
0            178     327       2        Jaipur City               191
1            411     783       1          Taj Mahal               199
2            927      12       2        Goa Beaches               190
3            358     959       3        Jaipur City               191
4            989     353       2  Kerala Backwaters               201

In [63]:
pd.set_option('display.float_format',lambda x:'%.3f' % x)
print(visitor_ratingCount ['totalRatingCount'].describe())

count     5.000
mean    199.800
std      11.256
min     190.000
25%     191.000
50%     199.000
75%     201.000
max     218.000
Name: totalRatingCount, dtype: float64

In [65]:
popularity_threshold = 50
rating_popular_place = rating_with_totalRatingCount .query('totalRatingCount >= @popularity_threshold')
rating_popular_place.head()

   DestinationID  UserID  Rating               Name  totalRatingCount
0            178     327       2        Jaipur City               191
1            411     783       1          Taj Mahal               199
2            927      12       2        Goa Beaches               190
3            358     959       3        Jaipur City               191
4            989     353       2  Kerala Backwaters               201

In [67]:
rating_popular_place.shape

(999, 5)

In [69]:
places_features_df =rating_popular_place.pivot_table(index='Name',columns='UserID',values='Rating').fillna(0)
places_features_df.head()

UserID,2,4,5,6,10,12,14,15,16,20,...,982,984,987,989,990,992,993,994,996,999
Name,,,,,,,,,,,,,,,,,,,,,
Goa Beaches,5.000,3.000,0.000,0.000,3.000,2.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,4.000,0.000,0.000,3.000,4.500,0.000,0.000
Jaipur City,0.000,0.000,3.000,5.000,0.000,0.000,0.000,0.000,2.000,2.000,...,0.000,5.000,0.000,3.500,0.000,0.000,0.000,0.000,5.000,0.000
Kerala Backwaters,0.000,2.000,0.000,0.000,0.000,0.000,5.000,5.000,0.000,4.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
Leh Ladakh,0.000,2.000,0.000,0.000,1.000,0.000,1.000,5.000,0.000,0.000,...,0.000,0.000,4.000,0.000,0.000,0.000,4.000,0.000,0.000,3.000
Taj Mahal,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,4.000,...,2.000,1.000,0.000,0.000,1.000,3.000,4.000,0.000,0.000,0.000

In [71]:
from scipy.sparse import csr_matrix
places_features_df_matrix = csr_matrix(places_features_df.values)

from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'cosine' , algorithm='brute')
model_knn.fit(places_features_df_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [75]:
places_features_df_matrix.shape

(5, 624)

In [77]:
query_index = np.random.choice(places_features_df.shape[0])
print(query_index)
distance,indices = model_knn.kneighbors(places_features_df.iloc[query_index,:].values.reshape(1,-1),n_neighbors = 3)

1

In [79]:
places_features_df.shape

(5, 624)

In [81]:
for i in range(0,len(distance.flatten())):
    if i==0:
        print('Recommendations for {0} : \n'.format(places_features_df.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i,places_features_df.index[indices.flatten()[i]],distance.flatten()[i]))

Recommendations for Jaipur City :

1: Leh Ladakh, with distance of 0.8203676244941924:
2: Kerala Backwaters, with distance of 0.8278483610749909: